// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header img{
  height:3rem;
}
.card-title{
  font-size: 2rem;
}
.card img {
  border-radius: 50%;
}
